{% extends "layout.html" %}
{% block content %}

            <!-- Header-->
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
   <h1>Add/Edit Education details</h1>
<form id="contactForm" action="/edc/{{sno}}" method="POST" data-sb-form-api-token="API_TOKEN">
  <hr>
                                    <!-- cor_duration input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="cor_duration" type="text" name='cor_duration'  placeholder="title" value="{{edc.cor_duration}}" data-sb-validations="required"/>
                                        <label for="name">Cor Duration</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A cor duration is required.</div>
                                    </div>
                                    <!-- clg_name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="clg_name" type="text" name='clg_name' placeholder="message" value="{{edc.clg_name}}" data-sb-validations="required,email" />
                                        <label for="email">Clg Name</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An Clg name is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Clg name is not valid.</div>
                                    </div>
                                    <!-- clg_add number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="clg_add" type="text" name='clg_add'placeholder="clg_add" value="{{edc.clg_add}}" data-sb-validations="required" />
                                        <label for="phone">Clg Add</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A Clg Add is required.</div>
                                    </div>
                                    <!-- cor_name number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="cor_name" type="text" name='cor_name'placeholder="cor_name" value="{{edc.cor_name}}" data-sb-validations="required" />
                                        <label for="phone">Cor name</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A Cor name is required.</div>
                                    </div>
                                    <!-- cor_work number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="cor_work" type="text" name='cor_work'placeholder="cor_work" value="{{edc.cor_work}}" data-sb-validations="required" />
                                        <label for="phone">Cor work</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A Clg Work is required.</div>
                                    </div>
                                    <!-- content number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="content" type="content" name='content'placeholder="content" value="{{edc.content}}" data-sb-validations="required" />
                                        <label for="phone">Content</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A Content is required.</div>
                                    </div>

                                    <!-- Submit success message-->
                                    <!---->
                                    <!-- This is what your users will see when the form-->
                                    <!-- has successfully submitted-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            To activate this form, sign up at
                                            <br />
                                            <a href="/">form submit successfully</a>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit" value="submit">Submit</button></div>
                                </form>



                           </div>
                            </div>
                        </div>
                        <div class="col-xxl ">

                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="{{params['ig_url']}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                    <a class="text-gradient" href="{{params['ld_url']}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <!--<a class="text-gradient" href="{{url_for('static', filename='index.html')}}"><i class="bi bi-github"></i></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
