{% extends "layout.html" %}
{% block content %}

            <!-- Header-->
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
   <h1>Add/Edit Projects</h1>
<form id="contactForm" action="/edit/{{sno}}" method="POST" data-sb-form-api-token="API_TOKEN">
  <hr>
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="title" type="text" name='title'  placeholder="title" value="{{project.title}}" data-sb-validations="required"/>
                                        <label for="name">title</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="content" type="text" name='content' placeholder="message" value="{{project.content}}" data-sb-validations="required,email" />
                                        <label for="email">content</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                    </div>
                                    <!-- Project link input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="pro_link" type="text" name='pro_link'placeholder="image filename" value="{{project.pro_link}}" data-sb-validations="required" />
                                        <label for="phone">Project Link</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A Project link is required.</div>
                                    </div>
                                    <!-- Phone number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="text" type="text" name='img_file'placeholder="image filename" value="{{project.img_file}}" data-sb-validations="required" />
                                        <label for="phone">Image filename</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                    </div>
            
                                    <!-- Submit success message-->
                                    <!---->
                                    <!-- This is what your users will see when the form-->
                                    <!-- has successfully submitted-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            To activate this form, sign up at
                                            <br />
                                            <a href="/">form submit successfully</a>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit" value="submit">Submit</button></div>
                                </form>



                           </div>
                            </div>
                        </div>
                        <div class="col-xxl ">

                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="{{params['ig_url']}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                    <a class="text-gradient" href="{{params['ld_url']}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <!--<a class="text-gradient" href="{{url_for('static', filename='index.html')}}"><i class="bi bi-github"></i></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
