{% extends "layout.html" %}
{% block content %}

            <!-- Header-->
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
   <h1>Add/Edit Experince</h1>
<form id="contactForm" action="/editexp/{{sno}}" method="POST" data-sb-form-api-token="API_TOKEN">
  <hr>
                                    <!-- join date-->
                                    <input class="form-control" id="join_date" type="join_date" name='join_date'  placeholder="date" value="{{expe.join_date}}" data-sb-validations="required"/>
                                        <label for="name">Join Date</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">join date</div>

                                    <!-- title-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="title" type="text" name='title'  placeholder="role" value="{{expe.title}}" data-sb-validations="required"/>
                                        <label for="name">role</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A Title is required.</div>
                                    </div>
                                    <!-- company name-->
                                    <input class="form-control" id="company_name" type="text" name='company_name'  placeholder="company_name" value="{{expe.company_name}}" data-sb-validations="required"/>
                                        <label for="name">Company Name</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A Company name is required.</div>
                                    <!-- content-->
                                    <div class="form-floating mb-3">
                                        <label for="email">Content</label>
                                        <input class="form-control" id="content" type="text" name='content' placeholder="message" value="{{expe.content}}" data-sb-validations="required,email" />
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An content is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Content is not valid.</div>
                                    </div>
                                    <!-- company address-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="com_add" type="text" name='com_add'placeholder="com_add" value="{{expe.com_add}}" data-sb-validations="required" />
                                        <label for="phone">Company Address</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A company address is required.</div>
                                    </div>
                                    <!-- resign date-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="res_date" type="text" name='res_date'placeholder="res_date" value="{{expe.res_date}}" data-sb-validations="required" />
                                        <label for="phone">Resign Date</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A resign date is required.</div>
                                    </div>
            
                                    <!-- Submit success message-->
                                    <!---->
                                    <!-- This is what your users will see when the form-->
                                    <!-- has successfully submitted-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            To activate this form, sign up at
                                            <br />
                                            <a href="/">form submit successfully</a>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit" value="submit">Submit</button></div>
                                </form>



                           </div>
                            </div>
                        </div>
                        <div class="col-xxl ">

                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="{{params['ig_url']}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                    <a class="text-gradient" href="{{params['ld_url']}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <!--<a class="text-gradient" href="{{url_for('static', filename='index.html')}}"><i class="bi bi-github"></i></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
